<p>form-demo works!</p>
<div>
  响应式表单: <input type="text" [formControl]="favoriteColorControl" />
  <p>value: {{ favoriteColorControl.value }}</p>
  <button (click)="init()">init</button>
  <div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <label for="first-name">First Name: </label>
      <input id="first-name" type="text" formControlName="firstName" />

      <label for="last-name">Last Name: </label>
      <input id="last-name" type="text" formControlName="lastName" />
      <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
  </div>
</div>

<div>模板驱动表单: <input type="text" [(ngModel)]="favoriteColor" /></div>
