.box {
  padding: 0;
  margin: 0;
  height: 200px;
  display: flow-root;
}

.left {
  width: 200px;
  height: 200px;
  background-color: aqua;
}

.right {
  width: 200px;
  height: 200px;
  background-color: burlywood;
}

.main {
  height: 200px;
  background-color: chartreuse;
}

.wrap {
  display: flow-root;
}
